body {
    background-color: #e9ebee;
    font-family: system, -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
    font-size: 16px;
    margin: 0 auto;
    max-width: 800px;
  }

  table{
    background-color: cyan;
    border: 1px solid gray;
  }

  tr:nth-child(even) {
background-color: #D6EEEE;
}

td img{
    max-width: 100px;
}